*:focus,
*:focus-visible {
  outline: none;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-hex);
  background-color: var(--mantle-hex);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.blurred {
  filter: blur(2px) grayscale();
}

.icon_button {
  display: block;

  width: 2.3rem;
  height: 2.3rem;
  padding: 0.3rem;

  border-radius: 8px;

  transition: background 0.2s;
}
.icon_button svg {
  margin: auto;

  width: 95%;
  height: 95%;

  transition: fill 0.2s;
}
.icon_button:hover svg {
  fill: var(--mauve-hex);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  text-align: center;
}

#app {
  width: 33vw;
  margin: 0 auto;
  padding: 2rem;

  transition: filter 0.2s;
}

h1 {
  font-size: 2.3rem;
  line-height: 1.1;
}

h2 {
  font-size: 2rem;
  line-height: 1.1;
}

h3 {
  font-size: 1.3em;
  color: var(--subtext0-hex);
}

li {
  text-align: left;
}

#day_list {
  display: grid;
  row-gap: 1.5rem;
}

.day_entry {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.5rem;

  height: 10rem;
  padding: 0.6rem;

  border: solid 1px var(--mantle-hex);
  border-radius: 10px;
  background: linear-gradient(
    to bottom right,
    var(--surface1-hex),
    var(--base-hex)
  );
}
.day_entry.pass_required {
  background: linear-gradient(
    to bottom right,
    var(--mauve-hex),
    5%,
    var(--base-hex)
  );
}
#app:not(.blurred) .day_entry:hover {
  border-color: var(--mauve-hex);
  background: var(--base-hex);

  transition: all 0.5s;
}

.day_info {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
.day_info h2 {
  margin: auto 0 0 0;
}
.day_info h3 {
  margin: 0 0 auto 0;
}

.day_description {
  margin: auto 0;
  text-align: center;

  border-radius: 4px;

  color: var(--subtext1-hex);
}

.locked_entry {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: none;
  column-gap: 0.5rem;

  height: 10rem;
  padding: 0.3rem;

  border-radius: 10px;
  background: linear-gradient(
    to bottom right,
    var(--base-hex),
    75%,
    var(--red-hex)
  );
}
.locked_entry.pass_required {
  background: linear-gradient(
    to bottom right,
    var(--mauve-hex),
    0.5%,
    var(--base-hex),
    85%,
    var(--red-hex)
  );
}
.locked_entry .day_info {
  color: var(--subtext0-hex);
}

.lock_icon {
  margin: auto;
  filter: drop-shadow(5px 5px 5px var(--mantle-hex));

  height: 80%;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 50vw;
  padding: 1rem;
  border-radius: 20px;

  opacity: 0%;
  background: var(--surface0-hex);
  filter: drop-shadow(5px 5px 5px var(--crust-hex));
}

#instructions {
  height: fit-content;
}
#instr_close_label {
  position: absolute;
  top: 15px;
  right: 15px;
}
#instr_close_label:hover {
  background: var(--surface1-hex);
}

#day_entry_content {
  display: flex;
  flex-direction: column;

  min-height: 50vh;
}
#day_entry_content span {
  margin: auto;
  width: 33%;
}
#day_entry_content img {
  margin: auto;

  width: 33vw;
  border-radius: 10px;

  border: solid 4px var(--mauve-hex)
}

#daenco_close_label {
  position: absolute;
  top: 15px;
  right: 15px;
}
#daenco_close_label:hover {
  background: var(--surface1-hex);
}

.pass_input_container {
  margin: auto;
  padding: 0 0.6em;
  width: 33%;
  height: 3rem;
  border-radius: 8px;
  background-color: var(--surface1-hex);
}

.pass_input {
  color: var(--text-hex);
  font-size: 1em;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 4px;
  background: #00000000;
  overflow-wrap: anywhere;
  text-align: center;
}
.pass_input::placeholder {
  color: var(--subtext1-hex);
}

@media (pointer: none), (pointer: coarse) {
  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 1rem;
  }

  #app {
    width: 100%;
  }

  .popup {
    width: 85vw;
  }

  #day_entry_content {
    min-height: 40vh;
  }
  #day_entry_content div,
  #day_entry_content span,
  #day_entry_content img {
    width: 90%;
  }
}
