html body {
    background-image: url(./resources/bg.png);
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32pt;
    line-height: 1.5em;
    font-style: normal;
    font-weight: 400;
    color: white;
    text-rendering: geometricPrecision;
    text-align: center;
}